#game
{
    display: block;
    margin: 0 auto;
}



.modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }

  .modal-footer {
    background-color: #f9f9f9;
  }

.column {
  float: left;
  height: 300px; /* Should be removed. Only for demonstration */
}


.row {
height: 350px; /* Should be removed. Only for demonstration */
}
